{% extends "core_backend/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
        <legend class="border-bottom mb-4">Quest Route Sheet</legend>
            {{ form|crispy }}
        </fieldset>
        
        <div class="form-group"> 
           <button type="submit" class="btn btn-primary">Update Route System</button>
        </div>
        </form>
    </div>
{% endblock content %}









    